.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
}

.dnd-app {
  min-width: 700px;
  min-height: 500px;
  width: 700px;
  height: 500px;
  background-color: rgb(92, 92, 92);
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  border-radius: 5px;
}

.dnd-sidebar {
  width: 30%;
  height: calc(100% - 1rem);
  background-color: rgb(201, 201, 201);
  border-radius: 5px;
  margin: 0.5rem;
}

.dnd-field {
  position: relative;
  width: 70%;
  height: calc(100% - 1rem);
  background-color: rgb(201, 201, 201);
  border-radius: 5px;
  margin: 0.5rem;
}

.dnd-draggable-item {
  width: calc(100% - 1rem);
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-item { 
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
}
.textArea-item { 
  position: absolute;
  width: 100px;
  height: 50px;
}

.image-item > img {
  width: 100px;
  height: auto;
  border-radius: 5px;
  object-fit: contain
}

